ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
    display: inline-block;
}

.tabs-title.activeLi {
    background-color:#937341 ;
    color: #23201D;
}
.tabs-content{
    display: none;
}
.tabs-content.active{
    display: block;
}

.active{
    width: 500px;
    height: 100px;
    border: 2px solid #23201D;
   
    border-radius: 10px ;
    overflow: auto;
    background-color: #566B85;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}